<?xml version="1.0"?>
<configuration>
  <startup>
    
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client"/></startup>

  <system.serviceModel>
    <bindings>
      <customBinding>
        <binding name="CustomBinding_DataService" MaxBufferSize="2147483647" MaxReceivedMessageSize="2147483647">
          <binaryMessageEncoding/>
          <httpTransport maxReceivedMessageSize="2147483647" maxBufferSize="2147483647"/>
        </binding>
      </customBinding>
    </bindings>
    <client>
      <endpoint address="http://zx.bjmemc.com.cn/DataService.svc" binding="customBinding" bindingConfiguration="CustomBinding_DataService" contract="DataService" name="CustomBinding_DataService"/>
    </client>
  </system.serviceModel>
</configuration>
